ul.uldashboard
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    
  top: 0;
  width: 100%;
}
li.lidashboard
{

    float: left;

}
li.lidashboard2
{

    float: left;

}
li.lidashboard1
{

    float: right;
    border:2px solid brown;

}
li.lidashboard5
{

    float: right;


}


li.lidashboard a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
}
li.lidashboard button
{
  
  font-family: "Roboto", sans-serif;
 
  outline: 0;
  text-align: center;
  padding: 14px 16px;
  border: 0;
  padding: 15px;
  background: #333;
color:white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;


}
li.lidashboard1 button
{
  
  font-family: "Roboto", sans-serif;
 
  outline: 0;
  text-align: center;
  padding: 14px 16px;
  border: 0;
  padding: 15px;
  background: #333;
color:white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;


}
li.lidashboard5 button
{
  
  font-family: "Roboto", sans-serif;
 
  outline: 0;
  text-align: center;
  padding: 14px 16px;
  border: 0;
  padding: 15px;
  background: #333;
color:white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;


}

li.lidashboard2 
{
  
  font-family: "Roboto", sans-serif;
  border: 1px solid gold;
  outline: 0;
  text-align: center;
  padding: 14px 16px;
  border: 0;
  padding: 15px;
  background: #333;
color:white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  background:green;

}
li.lidashboard2 button
{
  
  font-family: "Roboto", sans-serif;
  border: 1px solid gold;
  outline: 0;
  text-align: center;
  border: 0;
  background: #333;
color:white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;


}
li.lidashboard1 p
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    height:14px;
    text-decoration: none;  
}
.mainheading
{ 
    background-color: white;
    

}

ul.ulstudent 
{
    list-style-type: none;
    overflow: hidden;
    background-color:  white;
    width: 100%;
 display: table-row;

}

li.ulstudent
{
    float: left;
}
li.ulstudent h2
{
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    border-right: 1px solid #bbb;
}
.ulstudentmain
{
    display: inline;
}
.takeattendance
{
    margin-top: 100px;
    margin-left: 550px;
    background: darkgrey;
    font-family: unset;
}
.atbutton
{
    font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin:7px;
}
.atbutton1
{
    display: none;
}
.headingsheet
{
    border: 3px solid burlywood;
    display: inline-block;
    margin-left: 550px;
}

table.table-attende 
{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td.table-attende
{
    border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background: aliceblue;
}

tr.table-attende
{
    border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background: aliceblue;

}
.h1sheet
{
    border: 3px solid burlywood;
    display: inline-block;
    color: azure;
    margin-left: 2px;
}
.h2sheet
{
    border: 3px solid burlywood;
    display: inline-block;
    color: azure;
    margin-left: 200px;

}
.h3sheet
{

    border: 3px solid burlywood;
    display: inline-block;
    color: azure;
    margin-left: 600px;
}
li.lidashboard1
{
float: right;
}
.btnhomepage1
{

    font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin:10px;
}
.btnhomepage2
{

    font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin: 10px;
}
.homepage1
{
    margin-top: 250px;
    margin-left: auto;
    align-items: center;
 

}
.registerbutton
{
    margin: 5px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: white;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 50px;
    
  }
  .card   :hover
  {
    transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border:1px solid black;
  }
  .card button
  {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .atbutton354
  {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
     width:auto;
  font-size: 18px;
  }
  .MYMISSING
  {
    border: 4px solid black;
  }
  .MYFOUND

  {
    border: 4px solid black;
  }
  .card1
  {
  
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: white;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .missinglist
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 2000px;
  }
  .missinglisth2
  {
    color: black;
    background: bisque;
    align-items: center;
    text-align: center;
    font-family: cursive;
    display: inline-flex;
    margin: revert;
}
.dialog
{
  display: block;
    margin-top: 250px;
    margin-left: 600px;
}
.margin-class
{
  margin-top:50px;
}
.mycomplain-found
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow:auto;
}
.card3
{
  background-image: url("https://images.unsplash.com/photo-1526943604017-955071a1fb3e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YnJpZ2h0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}
.card3-card
{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 1200px;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 20px;
    color: #fff;
 margin-top:50px;
}
.card3-card h3
{
  
  text-transform: uppercase;

  color:aqua;
  background-color: transparent;

}
.detective
{
  text-align: center;
  margin-top: 100px;
    height:100vh;
    border: 1px solid white;
}
.detectivepro
{
  display: -webkit-inline-box;
  overflow: auto;
  align-items: center;
}
.picc
{
  display: block;
  align-items: center;
  margin:50px;
}
.margin-class input
{
  margin-top:30px;
  width:600px;
  height:40px;
  float: right;
  font-size:20px;
  padding-left:15px;
}
.margin-class input :hover
{
  background-color:grey;
  border: 1px solid green;
}
.searchbar :hover
{
  border: 1px solid green;
}

.margin-class h2 
{
  width: 200px;
    background: aliceblue;
}